.ReportWrapper {
    width: 100%;
    overflow: auto auto;
    white-space: nowrap;
}

.ReportNodeBox {
    tab-size: 3;
    margin: 0 0 5px 0;
    padding: 0;
    border-radius: 3px;
}

.ReportNodeTitle {
    cursor: pointer;
    margin: 0;
    padding: 0 0 0 25px;
    font-size: 120%;
    &:hover {
        text-decoration: underline;
    }
}

.ReportNodeContent {
    background: transparent;
    border: 0;
    margin: 10px 25px;
    padding: 0;
}
