.HorizontalNav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    overflow-x: auto;
    margin-bottom: 1rem;

    &:global(.hideSmall) {
        display: none;
    }

    @media (min-width: 768px) {
        &:global(.hideSmall) {
            display: unset;
        }
    }
}

.HorizontalNavItem {
    margin: 0 0.5rem;
    text-align: center;
}
